.my-clubs-container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-clubs-container header h1 {
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--blue);
}

.my-clubs-container .my-clubs-image {
  width: 100%;
  max-width: 600px;
  margin: 1.6rem 0;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.my-clubs-container .my-clubs-image img {
  width: 200px;
  border-radius: 50%;
}

.my-clubs-container .my-clubs-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin-top: 1.6rem;
}

.my-clubs-container .my-clubs-list .my-club-card {
  width: 100%;
  min-width: 400px;
  background: var(--white);
  border-radius: 0.4rem;
  padding: 0.8rem;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.75);
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.my-clubs-container .my-clubs-list .my-club-card:hover {
  opacity: 0.9;
}

.my-clubs-container .my-clubs-list .my-club-card .info-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
  color: var(--yellow);
}

.my-clubs-container .my-clubs-list .my-club-card .info {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--blue);
  margin-bottom: 0.8rem;
}
