.create-club-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-club-container header h1 {
  font-size: 32px;
  font-weight: bold;
  color: var(--blue);
  margin-bottom: 20px;
}

.create-club-container .create-club-image {
  width: 100%;
  max-width: 600px;
  margin: 16px 0;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.create-club-container .create-club-image img {
  width: 200px;
  border-radius: 50%;
}

.create-club-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-club-container form .error-message {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background: var(--red);
  color: var(--white);
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.create-club-container form input {
  margin-top: 8px;
  min-width: 800px;
  max-width: 1200px;
}

.create-club-container form .error {
  border-color: var(--red);
}

.create-club-container form .form-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--yellow);
  margin-top: 16px;
}

.create-club-container form .participants-container {
  width: 100%;
  color: var(--blue);

  display: flex;
  justify-content: space-around;
}

.create-club-container form .available-participants,
.create-club-container form .current-participants {
  width: 100%;
  min-height: 50px;
  margin-top: 8px;
  border-radius: 8px;
  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-club-container form h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

.create-club-container form .participants-container span {
  font-size: 18px;
  cursor: pointer;
}

.create-club-container form .participants-container span:hover {
  opacity: 0.8;
}

.create-club-container form button {
  margin-bottom: 8px;
}
