.profile-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container header h1 {
  font-size: 32px;
  font-weight: bold;
  color: var(--blue);
}

.profile-container .profile-image {
  width: 100%;
  max-width: 600px;
  margin: 16px 0;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

#profile-image-upload {
  display: none;
}

.profile-container .profile-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container form .error-message {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background: var(--red);
  color: var(--white);
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.profile-container form input,
.profile-container form select {
  margin-bottom: 8px;
  min-width: 600px;
  max-width: 1000px;
}

.profile-container form .error {
  border-color: var(--red);
}

.profile-container form .error::placeholder {
  color: var(--red);
}

.profile-container .success-message {
  width: 600px;
  border-radius: 8px;
  background: var(--yellow);
  font-size: 24px;
  padding: 16px;
  margin-top: 16px;
  text-align: center;
}
